{% extends "master/index_login.twig" %}

{% block title %}Alxarafe, user identification{% endblock %}

{% block body %}
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <h1>{{ view.title }}</h1>
            </div>
            <div class="card-body">
                <p class="login-box-msg">{{ view.trans('startsession') }}</p> {# Sign in to start your session #}

                <form action="" method="post">

                    {% block errors %}{% include 'master/errors.twig' %}{% endblock %}
                    {# {% if (view.errors) %}{{ block('errors', 'master/errors.twig') }}{% endif %} #}


                    <div class="input-group mb-3">
                        <input name="username" type="text" class="form-control" value="{{ username }}"
                               placeholder="{{ view.trans('username') }}">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input name="password" type="password" class="form-control" value="{{ password }}"
                               placeholder="{{ view.trans('password') }}">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    {{ view.trans('rememberme') }}
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button name="action" type="submit" class="btn btn-primary btn-block"
                                    value="login">{{ view.trans('signin') }}</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                {#
                <div class="social-auth-links text-center mt-2 mb-3">
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                    </a>
                </div>
                <!-- /.social-auth-links -->
                #}

                <p class="mb-1">
                    <a href="forgot-password.html">{{ view.trans('forgotpassword') }}</a>
                </p>
                {#
                <p class="mb-0">
                    <a href="register.html" class="text-center">Register a new membership</a>
                </p>
                #}
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.login-box -->
{% endblock %}
